<div class="dashboard-container">
  <div class="grid-container grid-container-first">
    <div class="grid-item first"></div>
    <div class="grid-item second"></div>
    <div class="grid-item third">
      <app-employee-bubble></app-employee-bubble>
    </div>
  </div>
  <div class="grid-container grid-container-first">
    <div class="grid-item first"></div>
    <div class="grid-item second"></div>
    <div class="grid-item third">
      <app-employee-bubble></app-employee-bubble>
    </div>
  </div>
</div>
