<form #addEmployeeForm="ngForm" (ngSubmit)="addEmployee()">
  <div class="modal-container">
    <div class="modal-header">
      <h4 class="modal-title">Add employee</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="employee-headshot-container"><i class="fas fa-camera"></i></div>
      <p class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" [(ngModel)]="newEmployee.name" name="name" required>
      </p>
      <p class="form-group">
        <label for="onProject">Is on project:</label>
        <input type="checkbox" class="form-control" [(ngModel)]="newEmployee.onProject" [checked]="newEmployee.onProject" name="onProject">
      </p>
    </div>
    <div class="modal-footer">
      <p>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        <button class="btn btn-outline-dark" type="submit" [disabled]="!addEmployeeForm.valid">Submit</button>
      </p>
    </div>
  </div>
</form>
