.modal-header {
  background: #0081C5;
  color: white;
  .close {
    color: white;
  }
}

.employee-headshot-container {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #0081C5;
  margin: 0 auto;
  background: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  width: 80%;
  margin: 0 auto;
}
