<nav [ngClass]="{'nav-closed': !navOpen}">
  <div class="nav-button-container">
    <button class="nav-button" (click)="toggleNav()"><i class="fas fa-ellipsis-v"></i></button>
  </div>
  <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <span class="nav-name">
      Dashboard
    </span>
  </a>
  <a class="nav-link" routerLink="/statistics" routerLinkActive="active">
    <i class="nav-icon fas fa-chart-bar"></i>
    <span class="nav-name">
      Statistics
    </span>
  </a>
  <a class="nav-link" routerLink="/employees" routerLinkActive="active">
    <i class="nav-icon fas fa-users"></i>
    <span class="nav-name">
      Employees
    </span>
  </a>
  <a class="nav-link" routerLink="/export" routerLinkActive="active">
    <i class="nav-icon fas fa-download"></i>
    <span class="nav-name">
      Export
    </span>
  </a>
  <a class="nav-link" routerLink="/companies" routerLinkActive="active">
    <i class="nav-icon fas fa-city"></i>
    <span class="nav-name">
      Companies
    </span>
  </a>
  <a class="nav-link" routerLink="/admin" routerLinkActive="active">
    <i class="nav-icon fas fa-user-cog"></i>
    <span class="nav-name">
      Admin
    </span>
  </a>
  <app-logout-button class="nav-logout-button"></app-logout-button>
  <!-- Navigation -->
</nav>
